<launch>
  <node name="pcl_body_tracking" pkg="lidar_body_tracking" type="pcl_body_tracking">
    <param name="scan_topic" value="/QP308/pc_QP308"/>
    <param name="filtered_topic" value="/pcl_filtered"/>
    <param name="clustered_topic" value="/pcl_clustered"/>
  </node>

  <include file="$(find lidar_body_tracking)/launch/includes/urdf.launch.xml">
  </include>

  <include file="$(find lidar_body_tracking)/launch/rviz_filtered.launch">
  </include>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" args="pcl_body_tracking"/>
</launch>

